.file, .note {
    font-size: 15px;
    padding: 4px 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 5px;
    word-break: break-all;
}

.file:hover {
    background-color: var(--background-higher);
}

.note:hover {
    border-color: var(--outline-strongest);
}

.file {
    background-color: var(--background-default);
    border-radius: 3px;
}

.file .fileName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.note {
    font-size: 14px;
    margin-top: 3px;
    padding-bottom: 0;
    font-weight: bold;
    background-color: var(--background-root);
    border-bottom: 1px solid var(--outline-default);
    font-family: 'Poppins', sans-serif;
}

.file > * {
    flex-shrink: 0;
}

.fileName {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 2px;
}

.fileAction {
    flex-shrink: 0;
}

.closer {
    border-bottom: 1px solid var(--outline-stronger);
}

.fileNameEditInput {
    width: 100%;
}