.app {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "directory open"
        "directory editor";
    grid-template-columns: 240px 1fr;
    grid-template-rows: 48px 1fr;
    font-family: "GT Pressura Mono";
}